.configurator-controls-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.75em;
  gap: 0.75em;
}

.configurator-controls-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  justify-content: center;
  margin-bottom: 0.75em;
  gap: 0.75em;
}

@media (max-width: 768px) {
  .configurator-controls-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.configurator-text-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;

  /* Reset Defaults */
  border: none;
  background: none;
  cursor: pointer;

  background-color: #000;
  color: #fff;
  font-size: 1.125rem;
  text-wrap: nowrap;

  transition: background-color 0.2s;
}

.configurator-text-btn:hover {
  background-color: hsl(0, 0%, 13%);
}

.configurator-text-btn:active {
  background-color: hsl(0, 0%, 20%);
}

@media (max-width: 768px) {
  .configurator-text-btn {
    padding: 0.5rem 0.75rem;
  }
}

.configurator-square-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;

  /* Reset Defaults */
  border: none;
  background: none;
  cursor: pointer;

  outline: 0 black;
  outline-offset: 0;

  background-color: #333;
  transition:
    outline,
    outline-offset 0.2s;
}

.configurator-square-btn.is-selected {
  outline: 3px solid black;
  outline-offset: 3px;
  z-index: 100;
}

@media (max-width: 768px) {
  .configurator-square-btn {
    width: 3rem;
    height: 3rem;
  }

  .configurator-square-btn.is-selected {
    outline: 2px solid black;
  }
}

.configurator-controls-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: #000;
  font-family: "Geist", serif;
  font-size: 1rem;
  text-wrap: nowrap;
}
