/* ==========================================================================
   Mobile Layout
   ========================================================================== */
@media (max-width: 768px) {
  .u-full-w-mobile {
    width: 100%;
    max-width: 100%;
    padding-inline: 0px;
  }
}
